function Numero.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Numero.Draw0 1
pop temp 0
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Numero.Draw1 1
pop temp 0
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Numero.Draw2 1
pop temp 0
label IF_FALSE2
push pointer 0
return
function Numero.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Numero.Draw0 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 200
push constant 2
push constant 210
push constant 2
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 2
push constant 200
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 210
push constant 2
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 20
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Numero.Draw1 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 200
push constant 2
push constant 210
push constant 2
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 2
push constant 200
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 210
push constant 2
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 20
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 210
push constant 2
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Numero.Draw2 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 210
push constant 2
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 200
push constant 2
push constant 210
push constant 2
call Screen.drawLine 4
pop temp 0
push constant 210
push constant 2
push constant 200
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 20
push constant 210
push constant 20
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Numero.Erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
return
function Numero.getn 0
push argument 0
pop pointer 0
push this 0
return
